<!DOCTYPE html>
<html dir="rtl" direction="rtl" layout:decorate="~{_layout}" style="direction: rtl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">-->
<!--xmlns="http://www.w3.org/1999/xhtml"-->

<body>
<!--begin::Toolbar-->
<div layout:fragment="toolbar">
    <!--begin::Toolbar-->
    <div class="app-toolbar py-6" id="kt_app_toolbar">
        <!--begin::Toolbar container-->
        <div class="app-container container-xxl d-flex align-items-start" id="kt_app_toolbar_container">
            <!--begin::Toolbar container-->
            <div class="d-flex flex-column flex-row-fluid">
                <!--begin::Toolbar wrapper-->
                <div class="d-flex align-items-center pt-1">
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold">
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-white fw-bold lh-1">
                            <a class="text-white" href="/boodge/showalledarekol">
                                <i class="fonticon-home text-white fs-3"></i>
                            </a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item">
                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr071.svg-->
                            <span class="svg-icon svg-icon-4 svg-icon-white mx-n1">
												<svg fill="none" height="24" viewBox="0 0 24 24" width="24"
                                                     xmlns="http://www.w3.org/2000/svg">
													<path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z"
                                                          fill="currentColor"/>
												</svg>
											</span>
                            <!--end::Svg Icon-->
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="breadcrumb-item text-white fw-bold lh-1">فعالیت های اداره</li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Toolbar wrapper=-->
                <!--begin::Toolbar wrapper=-->
                <div class="d-flex flex-stack flex-wrap flex-lg-nowrap gap-4 gap-lg-10 pt-6 pb-18 py-lg-13">
                    <!--begin::Page title-->
                    <div class="page-title d-flex align-items-center me-3">
                        <img alt="Logo" class="h-60px me-5" th:src="@{/assets/media/svg/misc/layer.svg}"/>
                        <!--begin::Title-->
                        <h1 class="page-heading d-flex text-white fw-bolder fs-2 flex-column justify-content-center my-0" id="edare-title">
                            جزئیات بودجه ادارات معاونت فضای مجازی، هنر و رسانه
                        </h1>
                        <!--end::Title-->
                    </div>
                    <!--end::Page title-->
                    <!--begin::Items-->
                    <div class="d-flex gap-4 gap-lg-13">
                        <!--begin::Item-->
                        <div class="d-flex flex-column" id="mosavab">
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-column" id="takhsis">
                        </div>
                        <!--end::Item-->
                    </div>
                    <div class="d-flex gap-4 gap-lg-13">
                        <!--begin::Item-->
                        <div class="d-flex flex-column" id="amalkard">
                        </div>
                        <!--end::Item--><!--begin::Item-->
                        <div class="d-flex flex-column" id="amalkardNameh">
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Items-->
                </div>
                <!--end::Toolbar wrapper=-->
            </div>
            <!--end::Toolbar container=-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->


</div>
<!--end::Toolbar-->
<div class="container" id="showBoodgeDetails" layout:fragment="content">


</div>



<div layout:fragment="extrajs">
    <script th:src="@{/assets/js/utils/chartjs.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/utils/apexcharts.min.js}"></script>
    <link th:src="@{/assets/css/utils/apexcharts.css}" rel="stylesheet" type="text/css"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var message = /*[[${edare}]]*/ null;
        /*]]>*/
        console.log(message);

        var pageTitle = "جزئیات بودجه " + message.name;

        $('#edare-title').html(pageTitle)



        $('#mosavab').append("<!--begin::Section-->\n" +
            "                        <div class=\"text-white fw-bold fs-3 mb-1\">" + (message.mosavab).toLocaleString("en-US") + ' ریال' + "</div>\n" +
            "                        <!--end::Section-->" +
            "<!--begin::Section-->" +
            "<div class=\"text-white opacity-50 fw-bold\">مصوب</div>" +
            "<!--end::Section-->");

        $('#takhsis').append("<!--begin::Section-->\n" +
            "                        <div class=\"text-white fw-bold fs-3 mb-1\">" + (message.takhsis).toLocaleString("en-US") + ' ریال' + "</div>\n" +
            "                        <!--end::Section-->"
            + "<!--begin::Section-->\n" +
            "                            <div class=\"text-white opacity-50 fw-bold\">تخصیص</div>\n" +
            "                            <!--end::Section-->"
        );

        $('#amalkard').append("<!--begin::Section-->\n" +
            "                        <div class=\"text-white fw-bold fs-3 mb-1\">" + (message.amalkard).toLocaleString("en-US") + ' ریال' + "</div>\n" +
            "                        <!--end::Section-->"
            + "<!--begin::Section-->\n" +
            "                            <div class=\"text-white opacity-50 fw-bold\">عملکرد</div>\n" +
            "                            <!--end::Section-->"
        );

        $('#amalkardNameh').append("<!--begin::Section-->\n" +
            "                        <div class=\"text-white fw-bold fs-3 mb-1\">" + (message.amalkardNameDaryafti).toLocaleString("en-US") + ' ریال' + "</div>\n" +
            "                        <!--end::Section-->"
            + "<!--begin::Section-->\n" +
            "                            <div class=\"text-white opacity-50 fw-bold\">عملکرد نامه ای</div>\n" +
            "                            <!--end::Section-->"
        );


        var mosavab;
        var takhsis;
        var amalkard;
        var htmlBuilder = '<div class="row">'
        var button;
        for (i = 0; i < message.faaliatList.length; i++) {
            mosavab = (message.faaliatList[i].mosavabSate).toLocaleString("en-US");
            takhsis = (message.faaliatList[i].takhsisSate).toLocaleString("en-US");
            amalkard = (message.faaliatList[i].amalkardSate).toLocaleString("en-US");


            if ((i % 3) == 0 && i != 0) {
                htmlBuilder += "</div><div class='row'>";
            }

            htmlBuilder += "<div class=\"col-xl-4\">\n" +
                "        <!--begin::Mixed Widget 4-->\n" +
                "        <div class=\"card card-xl-stretch mb-xl-8\">\n" +
                "<!--begin::Beader-->\n" +
                "<div class=\"card-header border-0 py-5\">\n" +
                "    <h3 class=\"card-title align-items-start flex-column\">\n" +
                "        <span class=\"card-label fw-bold mb-1\">"+message.faaliatList[i].title+"</span>\n" +
                "    </h3>\n" +
                "    <div class=\"card-toolbar\">\n" +
                "    </div>\n" +
                "</div>\n" +
                "<!--end::Header-->"+
                "            <!--begin::Body-->\n" +
                "            <div class=\"card-body d-flex flex-column\">\n" +
                "                <div class=\"flex-grow-1\">\n" +
                "                    <div class=\"mixed-widget-4-chart\" data-kt-chart-color=\"primary\" style=\"height: 200px\" id=\"faaliat" + (i + 1) + "\"></div>\n" +
                "                </div>\n" +
                "                <div class=\"pt-5\">\n" +
                "                    <p class=\"text-center fs-6 pb-5\">\n" +
                "<span class='fs-4 fw-semibold text-success pb-1 px-2'>مصوب</span>" +
                "                        <span class=\"fw-bold d-flex justify-content-center\"><span data-kt-countup=\"true\" data-kt-countup-value=" + mosavab + ">0</span> ریال </span>" +
                "\n" +
                "                    </p>\n" +
                "<div class='d-flex gap-4 justify-content-center'> " +
                "                    <p class=\"text-center fs-6 pb-5\">\n" +
                "<span class='fs-4 fw-semibold text-primary pb-1 px-2'>تخصیص</span>" +
                "                        <span class=\"fw-bold d-flex justify-content-center\"><span data-kt-countup=\"true\" data-kt-countup-value=" + takhsis + ">0</span>  ریال </span>" +
                "\n" +
                "                    </p>\n" +
                "                    <p class=\"text-center fs-6 pb-5\">\n" +
                "<span class='fs-4 fw-semibold text-danger pb-1 px-2'>عملکرد</span>" +
                "<span class=\"fw-bold d-flex justify-content-center\"><span data-kt-countup=\"true\" data-kt-countup-value=" + amalkard + ">0</span> ریال </span>" +
                "\n" +
                "                    </p></div>\n"+
                "                </div>\n" +
                "            </div>\n" +
                "            <!--end::Body-->\n" +
                "        </div>\n" +
                "        <!--end::Mixed Widget 4-->\n" +
                "    </div>\n" +
                "    <!--end::Col-->\n"


        }

        $('#showBoodgeDetails').append(htmlBuilder);

        var darsadTakhsis;
        var darsadAmalkard;
        for (i = 0; i < message.faaliatList.length; i++) {
            if (message.faaliatList[i].mosavabSate == 0)
                message.faaliatList[i].mosavabSate = 1;
            darsadTakhsis = message.faaliatList[i].takhsisSate / message.faaliatList[i].mosavabSate * 100;
            darsadAmalkard = message.faaliatList[i].amalkardSate / message.faaliatList[i].mosavabSate * 100;
            createChart(Math.floor(darsadTakhsis), Math.floor(darsadAmalkard), (i + 1), message.faaliatList[i].title)
        }

        function createChart(darsadTakhsis, darsatAmalkard, number, edareTitle) {
            var chart = new ApexCharts(document.querySelector("#faaliat" + number),
                createChartConfig(darsadTakhsis, darsatAmalkard, edareTitle)
            );
            chart.render();

        }

        // $('#elements').each((i,ele)=>{
        //
        //     console.log("hello from me");
        //     let clone=$(ele).clone(false)
        //     clone.attr("type","text")
        //     let ele1=$(ele)
        //     clone.val(Number(ele1.val()).toLocaleString("en"))
        //     $(ele).after(clone)
        //     $(ele).hide()
        //     clone.mouseenter(()=>{
        //
        //         ele1.show()
        //         clone.hide()
        //     })
        //     setInterval(()=>{
        //         let newv=Number(ele1.val()).toLocaleString("en")
        //         if(clone.val()!=newv){
        //             clone.val(newv)
        //         }
        //     },10)
        //
        //     $(ele).mouseleave(()=>{
        //         $(clone).show()
        //         $(ele1).hide()
        //     })
        //
        //
        // })

        function createChartConfig(darsadTakhsis, darsadAmalkard, edareTitle) {
            var options = {
                chart: {
                    type: "radialBar",
                    height: 250,
                    offsetX: 0
                },
                dataLabels: {
                    enable: true,
                    style: {
                        fontSize: '4px'
                    }
                }
                ,
                plotOptions: {
                    radialBar: {
                        inverseOrder: false,
                        hollow: {
                            margin: 5,
                            size: "60%",
                            background: "transparent"
                        },
                        track: {
                            show: true,
                            background: "#40475D",
                            strokeWidth: "30%",
                            opacity: 1,
                            margin: 3 // margin is in pixels
                        }
                    }
                },
                colors: ['#2c9aff', '#f1416c'],
                series: [darsadTakhsis, darsadAmalkard],
                labels: ["تخصیص از مصوب", "عملکرد از مصوب"],
                legend: {
                    show: true,
                    position: "bottom",
                    offsetX: -30,
                    offsetY: -10,
                    formatter: function (val, opts) {
                        return val + " - " + opts.w.globals.series[opts.seriesIndex] + "%";
                    }
                },
                fill: {
                    type: "gradient",
                    gradient: {
                        shade: "dark",
                        type: "horizontal",
                        shadeIntensity: 0.5,
                        inverseColors: true,
                        opacityFrom: 1,
                        opacityTo: 1,
                        stops: [0, 100]
                    }
                }
            };
            return options;
        }

    </script>
</div>

</body>
</html>